<launch>

    <arg name="config_path" default="$(find vins)/../config/m4bag/metro_20241227.yaml" />
    
    <!-- VINS node -->
    <node name="vins_node" pkg="vins" type="vins_node" args="$(arg config_path)" output="screen" />
    
    <!-- Loop fusion node (optional) -->
    <!-- <node name="loop_fusion_node" pkg="loop_fusion" type="loop_fusion_node" args="$(arg config_path)" output="screen" /> -->
    
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz_config.rviz" />
</launch>
